trigger:
  - main

variables:
  azureContainerRegistry: 'bestrong'
  azureSubscriptionForACR: 'Azure Subscription'
  azureResourceGroupForACR: 'pivinter-rg'
  imageRepository: 'bestrong-api'
  tag: '$(Build.BuildId)'

stages:
# Stage 1: Build & Push Docker Image to ACR
- stage: Build
  jobs:
  - job: BuildAndPush
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - checkout: self

    - task: Docker@2
      displayName: 'Login to ACR'
      inputs:
        command: login
        containerRegistry: 'bestrong-acr' # Це має бути існуючий service connection до ACR

    - task: Docker@2
      displayName: 'Build and Push Docker Image'
      inputs:
        containerRegistry: 'bestrong-acr'
        repository: '$(imageRepository)'
        command: buildAndPush
        dockerfile: '$(Build.SourcesDirectory)/Dockerfile'
        tags: |
          $(tag)
          latest

# Stage 2: Package & Push Helm Chart to ACR
- stage: Package
  displayName: 'Package Helm Chart'
  jobs:
  - job: PackageHelmChart
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - checkout: self

    - task: HelmInstaller@1
      inputs:
        helmVersionToInstall: 'latest'

    - script: |
        helm package $(Build.SourcesDirectory)/helm/bestrong \
          --version $(Build.BuildId) \
          --destination $(Build.ArtifactStagingDirectory)
      displayName: 'Package Helm Chart'

    - task: AzureCLI@2
      displayName: 'Push Helm Chart to ACR'
      inputs:
        azureSubscription: '$(azureSubscriptionForACR)'
        scriptType: 'bash'
        scriptLocation: 'inlineScript'
        inlineScript: |
          az acr helm repo add --name $(azureContainerRegistry)
          az acr helm push \
            --name $(azureContainerRegistry) \
            $(Build.ArtifactStagingDirectory)/bestrong-$(Build.BuildId).tgz

# Stage 3: Deploy to AKS
- stage: Deploy
  displayName: 'Deploy to AKS'
  dependsOn:
    - Build
    - Package
  jobs:
  - deployment: DeployToAKS
    pool:
      vmImage: 'ubuntu-latest'
    environment: 'production'
    strategy:
      runOnce:
        deploy:
          steps:
          - checkout: self

          - task: HelmInstaller@1
            inputs:
              helmVersionToInstall: 'latest'

          - task: HelmDeploy@0
            displayName: 'Helm Upgrade'
            inputs:
              connectionType: 'Azure Resource Manager'
              azureSubscription: '$(azureSubscriptionForACR)'
              azureResourceGroup: '$(azureResourceGroupForACR)'
              kubernetesCluster: 'pivinter-aks'
              namespace: 'default'
              command: 'upgrade'
              chartType: 'Name'
              chartName: '$(azureContainerRegistry)/bestrong'
              releaseName: 'bestrong-api'
              arguments: '--version $(Build.BuildId) --set image.repository=$(azureContainerRegistry).azurecr.io/$(imageRepository) --set image.tag=$(tag)'
